body
{
	text-align: center;
	background-color: #7A5F4B;
	color: #ffffff;
	text-shadow: 1pt 1pt 2pt #000000;
	font-size: 15pt;
	text-size-adjust: 200%;
}

a, a:visited, a:active
{
	color: #ffffff;
}

a:hover
{
	color: #CBCBCB;
}

#idDivTitle
{
	font-size: 150%;
	font-weight: bold;
}

#idDivTitle p
{
	color: #ffffff;
	text-shadow: 0pt 0pt 10pt #ffffff;
	margin: 25pt auto 25pt auto;
}

#idDivTitle p:hover
{
	text-shadow: 0pt 0pt 20pt #ffffff;
}

#idDivFileSelecter
{
	width: 80%;
	margin: 25pt auto 20pt auto;
	border: dashed 3pt #3C2513;
	border-radius: 24pt;
	background: radial-gradient(ellipse at center, #B79D80, #7A5F4B);
}

#idDivFileSelecter:hover
{
	border-radius: 32pt;
	background: radial-gradient(ellipse at center, #C1A88C, #8B6F59);
	cursor: pointer;
}

#idDivFileSelecter:active
{
	border-radius: 64pt;
	background: radial-gradient(circle at center, #C1A88C, #8B6F59);
}

#idPFileSelecter
{
	font-size: 125%;
	padding: 15pt;
}

#idDivFontSetting
{
	margin: 20pt auto 20pt auto;
}

#idDivFontSetting ul li
{
	display: inline-table;
	margin: 10pt auto 10pt auto;
}

#idDivFontSetting span
{
	color: #ffffff;
	padding: 15pt;
	font-size: 125%;
	border-radius: 12pt 12pt 12pt 12pt;
}

#idDivFontSetting span:hover
{
	background-color: #69503D;
}

#idDivFontSetting input
{
	color: #ffffff;
	width: 55pt;
	height: 30pt;
	font-size: 100%;
	background-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #000000;
	outline: none;
}

#idDivResult
{
	display: none;
	margin: 15pt auto 15pt auto;
}

#idTextareaResult
{
	width: 90%;
	font-size: 125%;
	border: 2pt #000000;
	border-radius: 4pt;
	padding: 0.5em;
	height: 10.1em;
	background-color: #664F3E;
	color: #ffffff;
	box-shadow: 1pt 1pt 8pt 1pt #000000;
}

#idDivButtons ul li
{
	display: inline-table;
	padding: 10pt;
}

#idDivButtons input
{
	outline: none;
	font-weight: bold;
	font-size: 125%;
	border-radius: 12pt;
	background: -webkit-linear-gradient(left top, #D3C4B8, #ffffff);
	background: -o-linear-gradient(left top, #D3C4B8, #ffffff);
	background: -moz-linear-gradient(left top, #D3C4B8, #ffffff);
	background: linear-gradient(to left top, #D3C4B8, #ffffff);
	box-shadow: 2pt 2pt 2pt 2pt #2D2114;
	text-shadow: 1pt 1pt 1pt #DFDFDF;
	padding: 12pt;
}

#idDivButtons input:hover
{
	text-shadow: 0pt 0pt 6pt #ffffff;
	background: -webkit-linear-gradient(left top, #ffffff, #F3ECE7);
	background: -o-linear-gradient(left top, #ffffff, #F3ECE7);
	background: -moz-linear-gradient(left top, #ffffff, #F3ECE7);
	background: linear-gradient(to left top, #ffffff, #F3ECE7);
	cursor: pointer;
}

#idDivButtons input:active
{
	color: #ffffff;
	text-decoration: none;
	position: relative;
	top: 1pt;
	left: 1pt;
	text-shadow: 0pt 0pt 6pt #A5A5A5;
	box-shadow: 1pt 1pt 8pt 1pt #000000;
}

#idDivEnd
{
	border-top : 5pt groove #A68F75;
	margin: 25pt auto auto auto;
}

#idDivEnd p
{
	font-weight: bold;
	color: #A68F75;
	text-shadow: 0pt 0pt 3pt #000000;
}

#idDivEnd p a
{
	color: #A68F75;
	text-shadow: 0pt 0pt 3pt #000000;
	text-decoration: none;
}

#idDivEnd p a:hover
{
	color: #CBB091;
	text-decoration: none;
}

#idSelectLanguage
{
	background: #A68F75;
	color: #000000;
	font-size: 100%;
	text-shadow: 0pt 0pt 3pt #ffffff;
	padding: 5pt;
	box-shadow: 0pt 0pt 2pt 0pt #000000;
	border-radius: 10pt;
	font-weight: bold;
}

#idSelectLanguage:hover
{
	background: #BBAC9A;
	color: #ffffff;
	text-shadow: 0pt 0pt 3pt #000000;
}

#idSelectLanguage option
{
	background: #A68F75;
	color: #000000;
	text-shadow: 0pt 0pt 0pt #ffffff;
}