body
{
	text-align: center;
	background-color: #7A5F4B;
	color: #ffffff;
	text-shadow: 2pt 2pt 3pt #000000;
	font-size: 20pt;
	text-size-adjust: 300%;
}

a, a:visited, a:active
{
	color: #ffffff;
}

a:hover
{
	color: #CBCBCB;
}

#idDivFileSelecter
{
	width: 90%;
	margin: 30pt auto 10pt auto;
	border: dashed 3pt #3C2513;
	border-radius: 24pt;
	background: radial-gradient(ellipse at center, #B79D80, #7A5F4B);
	padding: 8pt;
}

#idPFileSelecter
{
	font-size: 125%;
	padding: 15pt;
}

#idDivFontSetting
{
	margin: 10pt auto 15pt auto;
	display: table;
}

#idDivFontSetting p
{
	text-align: right;
}

#idDivFontSetting span
{
	color: #ffffff;
	padding: 15pt;
	font-size: 125%;
	border-radius: 12pt 12pt 12pt 12pt;
}

#idDivFontSetting input
{
	color: #ffffff;
	width: 100pt;
	font-size: 100%;
	background-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: #000000;
	outline: none;
}

#idDivResult
{
	display: none;
	margin: 15pt auto 15pt auto;
}

#idTextareaResult
{
	font-size: 75%;
	border: 2pt #000000;
	border-radius: 4pt;
	background-color: #664F3E;
	color: #ffffff;
	box-shadow: 1pt 1pt 8pt 1pt #000000;
	width: 95%;
}

#idDivButtons
{
	margin: 15pt auto 15pt auto;
}

#idDivButtons input
{
	outline: none;
	font-weight: bold;
	font-size: 125%;
	width: 45%;
	height: 65pt;
	border-radius: 12pt;
	background: -webkit-linear-gradient(left top, #D3C4B8, #ffffff);
	background: -o-linear-gradient(left top, #D3C4B8, #ffffff);
	background: -moz-linear-gradient(left top, #D3C4B8, #ffffff);
	background: linear-gradient(to left top, #D3C4B8, #ffffff);
	box-shadow: 2pt 2pt 2pt 2pt #2D2114;
	text-shadow: 1pt 1pt 1pt #DFDFDF;
}

#idDivEnd
{
	border-top : 5pt groove #A68F75;
	margin: 30pt auto auto auto;
}

#idDivEnd p
{
	font-weight: bold;
	color: #A68F75;
	text-shadow: 0pt 0pt 3pt #000000;
}

#idDivEnd p a
{
	color: #A68F75;
	text-shadow: 0pt 0pt 3pt #000000;
	text-decoration: none;
}

#idSelectLanguage
{
	background: #A68F75;
	color: #000000;
	text-shadow: 0pt 0pt 3pt #ffffff;
	padding: 5pt;
	box-shadow: 0pt 0pt 2pt 0pt #000000;
	border-radius: 10pt;
	font-weight: bold;
	font-size: 150%;
}

#idSelectLanguage option
{
	background: #A68F75;
	color: #000000;
	text-shadow: 0pt 0pt 0pt #ffffff;
}